### E-commerce-Customer Satisfaction EDA

In [22]:
import pandas as pd
import numpy as np

#### Load Dataset

In [23]:
df = pd.read_csv('../data/olist_customers_dataset.csv')

In [24]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_score,review_comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,Deveriam embalar melhor o produto. A caixa vei...
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,5,"Só achei ela pequena pra seis xícaras ,mais é ..."

In [25]:
df.isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   14
order_delivered_carrier_date      1195
order_delivered_customer_date     2400
order_estimated_delivery_date        0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
order_item_id                        0
product_id                           0
seller_id                            0
shipping_limit_date                  0
price                                0
freight_value                        0
product_category_name                0
product_name_lenght                  0
product_description_lenght           0
product_photos_qty                   0
product_weight_g                     1
product_length_cm                    1
product_height_cm                    1
product_width_cm                     1
product_category_name_english        0
review_score                         0
review_comment_message           66703
dtype: int64

In [26]:
print(f"Column Count : {len(df.columns)}")
df.columns

Column Count : 33

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'review_score',
       'review_comment_message'],
      dtype='object')

#### Data Preprocessing

In [27]:
# dropping columns which contain data missing values
df.drop(["order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date",
    "order_purchase_timestamp"],axis=1,inplace=True)

In [28]:
df.isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
order_item_id                        0
product_id                           0
seller_id                            0
shipping_limit_date                  0
price                                0
freight_value                        0
product_category_name                0
product_name_lenght                  0
product_description_lenght           0
product_photos_qty                   0
product_weight_g                     1
product_length_cm                    1
product_height_cm                    1
product_width_cm                     1
product_category_name_english        0
review_score                         0
review_comment_message           66703
dtype: int64

In [29]:
# missing field filling with median value
df["product_weight_g"].fillna(df["product_weight_g"].median(), inplace=True)
df["product_length_cm"].fillna(df["product_length_cm"].median(), inplace=True)
df["product_height_cm"].fillna(df["product_height_cm"].median(), inplace=True)
df["product_width_cm"].fillna(df["product_width_cm"].median(), inplace=True)

In [30]:
# write "No review" in review_comment_message column which doesn't contain values
df["review_comment_message"].fillna("No review", inplace=True)

In [31]:
df.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
product_category_name            0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
product_category_name_english    0
review_score                     0
review_comment_message           0
dtype: int64

In [32]:
# selecting the data which only contains numerical
df = df.select_dtypes(include=[np.number])
df.head()

,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score
0,1,1,18.12,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
1,3,1,2.00,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
2,2,1,18.59,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
3,1,3,37.77,3366,1,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
4,1,1,37.77,2290,1,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,5

In [33]:
cols_to_drop = ["customer_zip_code_prefix", "order_item_id"]

In [34]:
df.drop(cols_to_drop, axis=1,inplace=True)

In [35]:
df.head()

,payment_sequential,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score
0,1,1,18.12,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
1,3,1,2.00,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
2,2,1,18.59,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
3,1,3,37.77,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
4,1,1,37.77,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,5

In [41]:
print(f"Column Count : {len(df.columns)}")
df.columns

Column Count : 13

Index(['payment_sequential', 'payment_installments', 'payment_value', 'price',
       'freight_value', 'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'review_score'],
      dtype='object')

### Splitting Data Into X and y

In [37]:
X = df.drop("review_score", axis=1)
y = df["review_score"]

In [38]:
# train and test splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
print(X_train.shape)
type(X_train)

(92487, 12)

pandas.core.frame.DataFrame

In [40]:
print(y_train.shape)
type(y_train)

(92487,)

pandas.core.series.Series